<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guilds Tracker</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <%- include("fonts.ejs") %>

  <body>
    <%- include("nav.ejs") %>
    <div id="MainText">
      <b> About NG Tracker</b> <br /><br />
      This is a website which tracks all the guilds of <b>NetherGames</b
      ><br /><br />
      Creator: New<br />
      Helper: Labracamy<br />
      Images By: Prop11th<br />
      UI based on NetherGames Portal<br />
      <a href="https://discord.gg/8pK3z2s9J3"
        >Click here to join discord server.</a
      >
    </div>
  </body>
  <script></script>
  <script src="/js/nav.js"></script>
</html>
