<div id="bar">
  <div id="home">Home</div>
  <div id="leaderboards">Leaderboards</div>
  <div id="about">About</div>
</div>
<div id="nav">
  <div id="selectM" onclick="bar()">
    <img src="/assets/menu.png" alt="menu" id="menu" />
  </div>
  <div id="n1">
    <img id="nglogo" src="/assets/logo.png" alt="logo" />
    <span id="textNG">NG Tracker</span>
  </div>
  <div id="n2">
    <div id="home">Home</div>
    <div id="leaderboards">Leaderboards</div>
    <div id="about">About</div>
  </div>
</div>
